{% extends "layout.html" %}

{% block title %}
    Join
{% endblock %}

{% block main %}
	
	<!-- Room joining card -->
	<div class="card centered" style="width: 18rem;">
		<div class="card-body">
			<!-- Main form -->
			<form action="/join" method="post" autocomplete="off">
				<div class="mb-3">
					<label for="code" class="form-label" style="font-weight: 600;">Join a room!</label>
					<input type="number" class="form-control" name="code" id="code" placeholder="Enter your room code:">
				</div>
				<button type="submit" class="btn btn-success">Join room!</button>
			</form>
		</div>
	</div>
	
	<!-- Redirect message -->
	{% if message %}
        <div class="centered redirect-text">{{ message }}</div>
	{% else %}
        {{ super() }}
    {% endif %}
	
	<!-- Room hosting card -->
	<div class="card centered" style="width: 18rem; margin-top: 3rem;">
		<div class="card-body">
			<!-- Button -->
			<p style="font-weight: 600;">Want to create a room?</p>
			<a href="/host" type="button" class="btn btn-primary" id="host">Host a room!</a>
		</div>
	</div>
	
{% endblock %}