.container-fluid
{
    object-fit: cover;
}

body {
	background-color: #f0f0f0;
}

.centered {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.centered-text {
	margin: auto;
	text-align: center;
}

.redirect-text {
	width: 18rem;
	color: black;
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 1rem;
}

.holder-div {
	width: 100%;
}

.same-line {
	display: inline;
	padding: 0px 0px 0px 0px;
}

.plr-button {
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.timer-bar {
	background-color: #198754;
	border-color: #198754;
	color: #198754;
	transition: background-color 1s ease, border-color 1s ease, box-shadow 1s ease;
}

.choice-btn {
	margin-top: 2rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.plr-button:hover {
    background-color: #dc3545 !important; /* Bootstrap danger red */
    border-color: #dc3545 !important;
    color: #fff;
}

.tier-icon {
	width: 12%;
	color: #000000;
	font-weight: 700;
	font-size: x-large;
}

.tier-icon-borders {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #444444;
}

.tier-holder {
	margin: 0;
	border: none;
	width: 100%;
	min-height: 5rem;
}

.tier-body-borders {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #aaaaaa;
}

.dropzone {
	overflow: auto;
}

.ovf-a {
	overflow: auto;
}

/* REMOVES THE SCROLLBAR */

.scrollable-content::-webkit-scrollbar {
	display: none;
}

/* REMOVES THE UP-DOWN ARROWS ON NUMBER INPUTS */

/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* firefox */
input[type=number] {
  -moz-appearance: textfield;
}