{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}
	
	<!-- Websocket Handler -->
	<script>
	
		// Prevent memory leaks
		let timer = null;
	
		// Often-used constants
		const name = '{{ name }}'
	
		// Set up sockets
		var socket = io()
		
		// Send join message when player joins
		socket.on('connect', function() {
			socket.emit('join')
		})

		// Latency check
		socket.on('ping', function() {
			socket.emit('pong')
		})
		
		// Master 'selection' phase
		socket.off('select').on('select', function(data) {
			// Cancel previous timers
			if (timer) {
				clearInterval(timer);
			}
			
			// Close the waiting room UI
			const wait_ui = document.getElementById('waiting_room')
			wait_ui.style.display = 'none'
			
			// Hide waiting room UI
			const waiting_ui = document.getElementById('waiting_room')
			waiting_ui.style.display = 'none'
		
			// If player is not the master
			if (data['master'] != name) {
				// Fetch useful elements and change text to match current master
				const ui = document.getElementById('master_wait')
				const choice_text = document.getElementById('master_choice_text')
				const choosing_text = document.getElementById('master_choosing_text')
				choice_text.textContent = 'Round ' + data['round'].toString() + '/' + data['total_rounds'].toString() + ': ' + data['master'] + " has been chosen as this round's master!"
				choosing_text.textContent = data['master'] + " is choosing a category..."
				ui.style.display = 'block'
				
				// Gather progress bar elements and relevant numbers
				const progress_bar = document.getElementById('master_select_timer')
				const start_time = data['timer_start']
				const end_time = data['timer_end']
				const diff = end_time - start_time
				const offset = data['server_time'] - Date.now() / 1000
				
				// Start timer loop (low-ish wait time for smoothness)
				timer = setInterval(function() {
					// Calculate time difference and progress bar progress
					let current_time = Date.now() / 1000 + offset + data['latency']
					let frac = (current_time - start_time) / diff
					let done = false
					// Logic in case timer ends prematurely
					if (frac > 1) {
						done = true
						frac = 1
					}
					progress_bar.style.width = (frac * 100).toString() + '%'
					
					// Handle color changes
					if (frac < 0.5) {
						progress_bar.style.color = '#198754'
						progress_bar.style.backgroundColor = '#198754'
						progress_bar.style.borderColor = '#198754'
					}
					else if (frac < 0.8) {
						progress_bar.style.color = '#ffc107'
						progress_bar.style.backgroundColor = '#ffc107'
						progress_bar.style.borderColor = '#ffc107'
					}
					else {
						progress_bar.style.color = '#dc3545'
						progress_bar.style.backgroundColor = '#dc3545'
						progress_bar.style.borderColor = '#dc3545'
					}
					
					// Stop animation if the timer ends
					if (done) clearInterval(timer)
				}, 100)
			}
			else {
				// Fetch useful elements and change text to match current master
				const ui = document.getElementById('master_choice')
				ui.style.display = 'block'
				
				// Render choices
				const choice1 = document.getElementById('choice1')
				const choice2 = document.getElementById('choice2')
				const choice3 = document.getElementById('choice3')
				let choices = [choice1, choice2, choice3]
				for (let i = 0; i < choices.length; i++) {
					// Change text to match category
					let choice = choices[i]
					choice.textContent = data['categories'][i]
					// Add logic to each button
					choice.onclick = function() {
						let packet = {}
						packet['type'] = 'normal'
						packet['category'] = data['categories'][i]
						socket.emit('choice', packet)
					}
				}
				
				// Custom category counter
				const custom_counter = document.getElementById('custom_counter')
				custom_counter.textContent = data['max_elements'].toString()
				if (data['max_elements'] > 1) {
					custom_counter.textContent = custom_counter.textContent + ' more elements required to submit!'
				}
				else {
					custom_counter.textContent = custom_counter.textContent + ' more element required to submit!'
				}
				
				// Custom category logic
				let elements = []
				function update_text() {
					// Update text
					let difference = data['max_elements'] - elements.length
					custom_counter.textContent = difference.toString()
					if (difference <= 0) {
						custom_counter.textContent = 'You can now submit your category!'
					}
					else if (difference == 1) {
						custom_counter.textContent = custom_counter.textContent + ' more element required to submit!'
					}
					else {
						custom_counter.textContent = custom_counter.textContent + ' more elements required to submit!'
					}
				}
				// Important elements
				const tier_form = document.getElementById('add_tier_form')
				const tier_text_box = document.getElementById('new_element')
				const template_element = document.getElementById('element_template')
				const element_list = document.getElementById('element_list')
				const list_holder = document.getElementById('element_list_holder')
				tier_form.addEventListener('submit', function(event) {
					// Prevent refreshing
					event.preventDefault()
					// Get form data
					const form_data = new FormData(event.target)
					let element = form_data.get('new_element').trim()
					// Check if element is valid and unique
					if (element.length > 0 && !elements.includes(element) && elements.length < data['max_elements']) {
						tier_text_box.value = ''
						elements.push(element)
						
						// Add element button
						let clone = template_element.content.cloneNode(true)
						let btn = clone.querySelector('button')
						btn.textContent = element
						// Add button logic
						btn.addEventListener('click', function() {
							// Remove element
							let index = elements.indexOf(element)
							if (index > -1) {
								elements.splice(index, 1)
							}
							// Disable list if no elements remain
							if (elements.length < 1) {
								list_holder.style.display = 'none'
							}
							
							// Update text
							update_text()
							
							// Remove button from list
							btn.remove()
						})
						
						// Add button to list
						element_list.appendChild(clone)
						list_holder.style.display = 'block'
						
						// Update text
						update_text()
					}
				})
				
				// Custom category submission
				const submit_custom = document.getElementById('submit_custom')
				submit_custom.onclick = function() {
					// Format category name
					const cat_name_field = document.getElementById('cat_name')
					let cat_name = cat_name_field.value.trim()
					if (cat_name.length < 1) cat_name = 'Unnamed'
					// Check if elements meet requirements
					if (elements.length >= data['max_elements']) {
						// Send category packet
						let packet = {}
						packet['type'] = 'custom'
						packet['category_name'] = cat_name
						packet['elements'] = elements
						socket.emit('choice', packet)
					}
				}
				
				// Gather progress bar elements and relevant numbers
				const progress_bar = document.getElementById('select_timer')
				const start_time = data['timer_start']
				const end_time = data['timer_end']
				const diff = end_time - start_time
				const offset = data['server_time'] - Date.now() / 1000
				
				// Start timer loop (low wait time for smoothness)
				timer = setInterval(function() {
					// Calculate time difference and progress bar progress
					let current_time = Date.now() / 1000 + offset + data['latency']
					let frac = (current_time - start_time) / diff
					let done = false
					// Logic in case timer ends prematurely
					if (frac > 1) {
						done = true
						frac = 1
					}
					progress_bar.style.width = (frac * 100).toString() + '%'
					
					// Handle color changes
					if (frac < 0.5) {
						progress_bar.style.color = '#198754'
						progress_bar.style.backgroundColor = '#198754'
						progress_bar.style.borderColor = '#198754'
					}
					else if (frac < 0.8) {
						progress_bar.style.color = '#ffc107'
						progress_bar.style.backgroundColor = '#ffc107'
						progress_bar.style.borderColor = '#ffc107'
					}
					else {
						progress_bar.style.color = '#dc3545'
						progress_bar.style.backgroundColor = '#dc3545'
						progress_bar.style.borderColor = '#dc3545'
					}
					
					// Stop animation if the timer ends
					if (done) clearInterval(timer)
				}, 100)
			}
		})
		
		// Profanity event
		socket.on('failed_filter', function() {
			const custom_counter = document.getElementById('custom_counter')
			custom_counter.textContent = 'This room does not allow profanity.'
		})
		
		// Bad list event
		socket.on('bad_list', function() {
			const custom_counter = document.getElementById('custom_counter')
			custom_counter.textContent = 'Your list contains some structural error.'
		})
		
		// Tiering
		socket.off('tier').on('tier', function(data) {
			// Cancel previous timers
			if (timer) {
				clearInterval(timer);
			}
			
			// Close the waiting room UI
			const wait_ui = document.getElementById('waiting_room')
			wait_ui.style.display = 'none'
			
			// Hide old UI
			const player_ui = document.getElementById('master_wait')
			const master_ui = document.getElementById('master_choice')
			player_ui.style.display = 'none'
			master_ui.style.display = 'none'
			
			// Show new UI
			const ui = document.getElementById('tier_list')
			ui.style.display = 'block'
			
			// Gather progress bar elements and relevant numbers
			const progress_bar = document.getElementById('tier_timer')
			const start_time = data['timer_start']
			const end_time = data['timer_end']
			const diff = end_time - start_time
			const offset = data['server_time'] - Date.now() / 1000
			
			// Start timer loop (low wait time for smoothness)
			timer = setInterval(function() {
				// Calculate time difference and progress bar progress
				let current_time = Date.now() / 1000 + offset + data['latency']
				let frac = (current_time - start_time) / diff
				let done = false
				// Logic in case timer ends prematurely
				if (frac > 1) {
					done = true
					frac = 1
				}
				progress_bar.style.width = (frac * 100).toString() + '%'
				
				// Handle color changes
				if (frac < 0.5) {
					progress_bar.style.color = '#198754'
					progress_bar.style.backgroundColor = '#198754'
					progress_bar.style.borderColor = '#198754'
				}
				else if (frac < 0.8) {
					progress_bar.style.color = '#ffc107'
					progress_bar.style.backgroundColor = '#ffc107'
					progress_bar.style.borderColor = '#ffc107'
				}
				else {
					progress_bar.style.color = '#dc3545'
					progress_bar.style.backgroundColor = '#dc3545'
					progress_bar.style.borderColor = '#dc3545'
				}
				
				// Stop animation if the timer ends
				if (done) clearInterval(timer)
			}, 100)
			
			// Update text
			const cat_text = document.getElementById('category_text')
			const tier_text = document.getElementById('tier_heading_text')
			cat_text.textContent = 'Round ' + data['round'].toString() + '/' + data['total_rounds'].toString() + ': The chosen category is ' + data['category']['name'] + '!'
			if (data['master'] != null) {
				if (name == data['master']) {
					tier_text.textContent = "Build your list!"
				}
				else {
					tier_text.textContent = "Try to match " + data['master'] + "'s list!"
				}
			}
			else {
				tier_text.textContent = 'Try to match the average list!'
			}
			
			// Gather important elements and list
			const template = document.getElementById('tier_list_template')
			const main_holder = document.getElementById('main_element_holder')
			const empty_msg = document.getElementById('empty_msg')
			
			// Loop through each element and add a button
			for (let i = 0; i < data['category']['elements'].length; i++) {							
				// Create clone
				let clone = template.content.cloneNode(true)
				let btn = clone.querySelector('p')
				btn.textContent = data['category']['elements'][i]
				
				// Position clone
				main_holder.appendChild(clone)
			}
			
			var empty = false
			
			// Object count Logic
			const observer = new MutationObserver(function() {
				// Check if there are no buttons in the holder
				let ps = main_holder.querySelectorAll('p')
				empty = ps.length < 1
				
				// Update inner text accordingly
				if (empty) {
					empty_msg.classList.remove('d-none')
				}
				else {
					empty_msg.classList.add('d-none')
				}
			})
			observer.observe(main_holder, { childList: true })
			
			// Lock-in button
			const lock_button = document.getElementById('lock_button')
			const error_msg = document.getElementById('error_msg')
			error_msg.style.display = 'none'
			lock_button.onclick = function() {
				if (empty) {
					// Get tier containers
					const s_tier = document.getElementById('S_tier')
					const a_tier = document.getElementById('A_tier')
					const b_tier = document.getElementById('B_tier')
					const c_tier = document.getElementById('C_tier')
					const d_tier = document.getElementById('D_tier')
					const f_tier = document.getElementById('F_tier')
					let tiers = [s_tier, a_tier, b_tier, c_tier, d_tier, f_tier]
					let letters = ['S', 'A', 'B', 'C', 'D', 'F']
					
					// Loop through each tier and gather picks
					let picks = {}
					let total_picks = 0
					for (let i = 0; i < tiers.length; i++) {
						// Create dictionary elements
						let letter = letters[i]
						let tier_holder = tiers[i]
						picks[letter] = []
						
						// Loop through all buttons in that tier and add picks
						let buttons = tier_holder.querySelectorAll('p')
						for (let j = 0; j < buttons.length; j++) {
							let btn = buttons[j]
							picks[letter].push(btn.textContent)
							total_picks++
						}
					}
					
					if (total_picks != data['category']['elements'].length) {
						error_msg.textContent = 'There is an error in your list. Please refresh.'
						error_msg.style.display = 'block'
					}
					else {
						socket.emit('tier_complete', picks)
					}
				}
			}
		})
		
		// Bad tier
		socket.on('bad_tier', function() {
			const error_msg = document.getElementById('error_msg')
			error_msg.textContent = 'There is an error in your list. Please refresh.'
			error_msg.style.display = 'block'
		})
		
		// Sends users that are done to the waiting room
		socket.off('waiting_room').on('waiting_room', function(data) {
			// Cancel previous timers
			if (timer) {
				clearInterval(timer);
			}
		
			// Close the tier list UI
			const tier_ui = document.getElementById('tier_list')
			tier_ui.style.display = 'none'
			
			// Modify waiting room UI
			const waiting_ui = document.getElementById('waiting_room')
			const wait_message = document.getElementById('waiting_message')
			const bar_holder = document.getElementById('waiting_bar_holder')
			wait_message.textContent = 'Your tier list is locked in!'
			bar_holder.style.display = 'block'
			waiting_ui.style.display = 'block'
			
			// Gather progress bar elements and relevant numbers
			const progress_bar = document.getElementById('waiting_bar')
			const start_time = data['timer_start']
			const end_time = data['timer_end']
			const diff = end_time - start_time
			const offset = data['server_time'] - Date.now() / 1000
			
			// Start timer loop (low wait time for smoothness)
			timer = setInterval(function() {
				// Calculate time difference and progress bar progress
				let current_time = Date.now() / 1000 + offset + data['latency']
				let frac = (current_time - start_time) / diff
				let done = false
				// Logic in case timer ends prematurely
				if (frac > 1) {
					done = true
					frac = 1
				}
				progress_bar.style.width = (frac * 100).toString() + '%'
				
				// Handle color changes
				if (frac < 0.5) {
					progress_bar.style.color = '#198754'
					progress_bar.style.backgroundColor = '#198754'
					progress_bar.style.borderColor = '#198754'
				}
				else if (frac < 0.8) {
					progress_bar.style.color = '#ffc107'
					progress_bar.style.backgroundColor = '#ffc107'
					progress_bar.style.borderColor = '#ffc107'
				}
				else {
					progress_bar.style.color = '#dc3545'
					progress_bar.style.backgroundColor = '#dc3545'
					progress_bar.style.borderColor = '#dc3545'
				}
				
				// Stop animation if the timer ends
				if (done) clearInterval(timer)
			}, 100)
		})
		
		// Scoring
		socket.off('score').on('score', function(data) {
			// Cancel previous timers
			if (timer) {
				clearInterval(timer);
			}
			
			// Close the tier list UI and waiting room UI
			const tier_ui = document.getElementById('tier_list')
			const wait_ui = document.getElementById('waiting_room')
			tier_ui.style.display = 'none'
			wait_ui.style.display = 'none'
			
			// Show score UI
			const ui = document.getElementById('scoring_window')
			ui.style.display = 'block'
			
			// Get main elements
			const head = document.getElementById('score_head_main')
			const sub = document.getElementById('score_head_sub')
			const score_msg = document.getElementById('user_msg_score')
			const footer = document.getElementById('round_over')
			const end_button = document.getElementById('restart_button')
			const template = document.getElementById('score_elem_template')
			
			// Get important user elements
			const picks = data['picks'][name]
			const master_picks = data['master_picks']
			
			// Determine if user is the master
			const am_master = data['master'] == name
			const master_exists = data['master'] != null
			
			// Keep track of score
			let score_acc = data['starting_scores'][name]
			
			// Update score message
			score_msg.textContent = '[' + name + ']    Your score: ' + score_acc.toString()
			
			// Setup loops
			const latency_ms = (data['latency'] + data['server_time'] - data['timer_start']) * 1000
			for (let i = 0; i < Object.keys(master_picks).length; i++) {
				// Get relevant pick data
				const elem = Object.keys(master_picks)[i]
				const pick = picks[elem]
				const master_pick = master_picks[elem]
				
				// Anticipation
				let ant_time = 2000 + 10000 * i - latency_ms
				setTimeout(function() {
					// Update subheading
					sub.textContent = 'You put ' + elem + ' in ' + pick['letter'] + '-tier.'
					// Update main heading based on master
					if (master_exists) {
						if (am_master) {
							head.textContent = "Let's see where everyone else put it..."
						}
						else {
							head.textContent = "Let's see where " + data['master'] + " put it..."
						}
					}
					else {
						head.textContent = "Let's see where the average put it..."
					}
					
					// Update score message
					score_msg.textContent = '[' + name + ']    Your score: ' + score_acc.toString()
				}, ant_time)
				
				// Reveal
				let rev_time = 6000 + 10000 * i - latency_ms
				setTimeout(function() {
					// Update headings
					const sub_head = elem + ' was placed in'
					sub.textContent = sub_head.charAt(0).toUpperCase() + sub_head.slice(1)
					head.textContent = master_pick['letter'] + '-tier!'
					
					// Create tier list element
					let clone = template.content.cloneNode(true)
					let btn = clone.querySelector('p')
					btn.textContent = elem
					
					// Add element to the tier list
					const parentNode = document.getElementById(master_pick['letter'] + '_tier_score')
					parentNode.appendChild(clone)
					
					// Update score text
					let message = ''
					if (!am_master) {
						// Update message based on score
						if (pick['score'] == 500 || pick['score'] == 1000) {
							message = 'Perfect guess!'
							// Add controversy and hive mind bonuses
							if (master_pick['controversial']) {
								message = message + ' You were one of few to agree! This one was quite controversial...'
							}
							else if (master_pick['hive_mind']) {
								message = message + ' Seems like this was a clear one... everyone agrees!'
							}
						}
						else if (pick['score'] != 0) {
							message = 'So close!'
							// Add controversy and hive mind bonuses
							if (master_pick['controversial']) {
								message = message + ' This one was quite controversial...'
							}
							else if (master_pick['hive_mind']) {
								message = message + ' If you got this message, something is broken.'
							}
						}
						else {
							message = 'Not quite!'
							// Add controversy and hive mind bonuses
							if (master_pick['controversial']) {
								message = message + ' This one was quite controversial...'
							}
							else if (master_pick['hive_mind']) {
								message = message + ' If you got this message, something is broken.'
							}
						}
					}
					else {
						// Special message for the master if everyone agrees
						if (master_pick['hive_mind']) {
							message = "It seems you're in a hive mind. Everyone agreed with you!"
						}
						else {
							// Add flair if it was controversial
							if (master_pick['controversial']) {
								message = 'This one was quite controversial... '
							}
							// Gather amount of players who agreed
							let count = master_pick['controversial'] ? pick['score'] / 500 : pick['score'] / 250
							let player_count = Object.keys(data['picks']).length - 1
							// Tweak message based on general agreement
							if (count == 0) {
								message = message + "Looks like you're the odd one out. No one agreed with you."
							}
							else if (count < player_count / 2) {
								message = message + count.toString() + " people agreed with you. Not a very popular opinion, but sure..."
							}
							else {
								message = message + count.toString() + " people agreed with you. Seems like you're quite connected to your peers."
							}
						}
					}
					
					// Add score message
					score_acc += pick['score']
					if (pick['score'] > 0) {
						message = message + ' You gained ' + pick['score'].toString() + ' points! You now have ' + score_acc.toString() + ' points.'
					}
					else {
						message = message + " You didn't gain any score on this round... you still have " + score_acc.toString() + ' points.'
					}
					
					// Update message
					score_msg.textContent = message
				}, rev_time)
			}
			
			// Ending logic
			let end_time = Object.keys(master_picks).length * 10000 + 2000 - latency_ms
			setTimeout(function() {
				// Change headings
				sub.textContent = 'This round is over.'
				if (!data['game_over']) {
					head.textContent = "Good luck in the next round!"
				}
				else {
					head.textContent = "And so is the game!"
				}
				
				// Update message
				if (!data['game_over']) {
					score_msg.textContent = 'Waiting for the round to restart.'
				}
				else {
					score_msg.textContent = "That's all, folks! The game is over. Congrats to the winners!"
				}
				
				// Hide tier list
				const tl = document.getElementById('tl_score')
				tl.style.display = 'none'
				
				// Show leaderboard
				const lb = document.getElementById('leaderboard')
				lb.style.display = 'block'
				
				// Prepare leaderboard elements
				const leaderboard = document.getElementById('lb_list')
				const lb_template = document.getElementById('lb_template')
				
				// Loop through each relevant player
				let player_count = Object.keys(data['picks']).length
				if (player_count > 10) player_count = 10
				for (let i = 0; i < player_count; i++) {
					// Get player ranking
					const rank = data['leaderboard'][i]
					
					// Create clone
					let clone = lb_template.content.cloneNode(true)
					let elem = clone.querySelector('li')
					
					// Modify clone name
					let name_label = elem.querySelector('#name_label')
					name_label.textContent = rank['player']
					if (rank['player'] == name) {
						name_label.style.fontWeight = '600'
					}
					
					// Modify clone rank
					let rank_label = elem.querySelector('#rank_label')
					rank_label.textContent = i + 1
					if (i == 0) {
						rank_label.style.backgroundColor = '#ffe680'
					}
					else if (i == 1) {
						rank_label.style.backgroundColor = '#e6e6e6'
					}
					else if (i == 2) {
						rank_label.style.backgroundColor = '#705e54'
					}
					
					// Modify clone score
					let score_label = elem.querySelector('#score_label')
					score_label.textContent = rank['score']
					
					// Add clone to the list
					leaderboard.appendChild(clone)
				}
			}, end_time)
			
			// Ending button logic
			if (data['host'] == name && !data['game_over']) {
				// Show ending button
				setTimeout(function() {
					footer.classList.remove('d-none')
				}, end_time)
				
				// Add logic
				end_button.onclick = function() {
					socket.emit('restart')
				}
			}
		})
		
		// Restart the round when done
		socket.off('restart').on('restart', function() {
			window.location.href = '/game'
		})
		
		// Drag & Drop Logic
		document.addEventListener('DOMContentLoaded', function() {
			// Grab all dropzones
			const dropzones = document.querySelectorAll('.dropzone')
			for (let i = 0; i < dropzones.length; i++) {
				// Add dropzone logic
				let zone = dropzones[i]
				new Sortable(zone, {
					group: 'shared',
					ghostClass: 'opacity-0',
					forceFallback: true,
					fallbackTolerance: 3,
					fallbackOnBody: true
				})
			}
		})
		
	</script>
	
	<!-- Wait for other players -->
	<div id="waiting_room" class="holder-div">
		<!-- Waiting text -->
		<h3 id="waiting_message">You're in!</h3>
		<h2 style="font-weight: 700;">Waiting for other players...</h2>
		
		<!-- Progress bar -->
		<div id="waiting_bar_holder" class="centered" style="width: 36rem; margin-top: 2rem; display: none;">
			<div class="progress" role="progressbar">
				<div id="waiting_bar" class="progress-bar timer-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
			</div>
		</div>
	</div>
	
	<!-- SELECTION PHASE -->
	
	<!-- Wait for master -->
	<div id="master_wait" class="holder-div" style="display: none;">
		<!-- Waiting text -->
		<h3 id="master_choice_text">[placeholder] has been chosen as this round's master!</h3>
		<h2 id="master_choosing_text" style="font-weight: 700;">[placeholder] is choosing a category...</h2>
		
		<!-- Progress bar -->
		<div class="centered" style="width: 36rem; margin-top: 2rem;">
			<div class="progress" role="progressbar">
				<div id="master_select_timer" class="progress-bar timer-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
			</div>
		</div>
	</div>
	
	<!-- Master choice window -->
	<div id="master_choice" class="holder-div" style="display: none;">
		<h3>You have been chosen as this round's master!</h3>
		<h2 style="font-weight: 700;">Choose one of the following categories:</h2>
		
		<!-- Progress bar -->
		<div class="centered" style="width: 36rem; margin-top: 2rem; margin-bottom: 1rem;">
			<div class="progress" role="progressbar">
				<div id="select_timer" class="progress-bar timer-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
			</div>
		</div>
		
		<!-- Category choices -->
		<button id="choice1" type="button" class="btn btn-primary btn-lg choice-btn">Choice 1</button>
		<button id="choice2" type="button" class="btn btn-success btn-lg choice-btn">Choice 2</button>
		<button id="choice3" type="button" class="btn btn-danger btn-lg choice-btn">Choice 3</button>
		
		<!-- Build-your-own category card -->
		<div class="card centered" style="width: 27rem; margin-top: 3rem;">
			<div class="card-body">
				<div class="mb-3">
					<label for="cat_name" class="form-label" style="font-weight: 600;">Don't like these? Make your own!</label>
					<!-- Name input field -->
					<input type="text" class="form-control" name="cat_name" id="cat_name" placeholder="Category name:" autocomplete="off">
					<!-- Element addition form -->
					<form id="add_tier_form" style="margin-top: 1rem;" autocomplete="off">
						<div class="input-group mb-3">
							<input id="new_element" name="new_element" type="text" class="form-control" placeholder="Add an element to tier:">
							<button class="btn btn-outline-secondary" type="submit">Add</button>
						</div>
					</form>
					<!-- Element list -->
					<div id="element_list_holder" class="card centered" style="width: 24rem; display: none;">
						<div id="element_list" class="card-body" style="margin-bottom: -0.5rem;"></div>
					</div>
				</div>
				<label id="custom_counter" for="submit_custom" class="form-label" style="font-weight: 600;">[placeholder] more elements required to submit!</label>
				<button id="submit_custom" name="submit-custom" type="button" class="btn btn-success">Submit category!</button>
			</div>
		</div>
		
		<!-- Element template -->
		<template id="element_template">
			<button class="btn btn-primary plr-button" style="margin-bottom: 0.5rem;">placeholder</button>
		</template>
	</div>
	
	<!-- Tiering UI -->
	<div id="tier_list" class="holder-div" style="display: none;">
		<!-- Instructions -->
		<h3 id="category_text">The chosen category is [placeholder]!</h3>
		<h2 id="tier_heading_text" style="font-weight: 700;">Try to match [master]'s list!</h2>
		
		<!-- Progress bar -->
		<div class="centered" style="width: 36rem; margin-top: 2rem;">
			<div class="progress" role="progressbar">
				<div id="tier_timer" class="progress-bar timer-bar progress-bar-striped progress-bar-animated" style="width: 0%"></div>
			</div>
		</div>
		
		<!-- Tier list -->
		<div class="centered rounded-4" style="width: 36rem; overflow: hidden; margin-top: 2rem;">
			<!-- S tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #ff7f7f;">
					S
				</div>
				<div id="S_tier" class="card-body p-2 dropzone d-flex flex-wrap align-items-start gap-2 tier-body-borders"></div>
			</div>
			
			<!-- A tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #ffbf7f;">
					A
				</div>
				<div id="A_tier" class="card-body p-2 dropzone d-flex flex-wrap align-items-start gap-2 tier-body-borders"></div>
			</div>
			
			<!-- B tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #ffee7f;">
					B
				</div>
				<div id="B_tier" class="card-body p-2 dropzone d-flex flex-wrap align-items-start gap-2 tier-body-borders"></div>
			</div>
			
			<!-- C tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #dcff7f;">
					C
				</div>
				<div id="C_tier" class="card-body p-2 dropzone d-flex flex-wrap align-items-start gap-2 tier-body-borders"></div>
			</div>
			
			<!-- D tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #7fff7f;">
					D
				</div>
				<div id="D_tier" class="card-body p-2 dropzone d-flex flex-wrap align-items-start gap-2 tier-body-borders"></div>
			</div>
			
			<!-- F tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #7fffdf;">
					F
				</div>
				<div id="F_tier" class="card-body p-2 dropzone d-flex flex-wrap align-items-start gap-2"></div>
			</div>
		</div>
		
		<!-- Holder for elements -->
		<div class="card centered" style="width: 27rem; margin-top: 2rem;">
			<div id="main_element_holder" class="card-body p-2 dropzone d-flex flex-wrap align-items-start gap-2"></div>
			<div id="empty_msg" class="card-footer text-body-secondary justify-content-between align-items-center d-none">
				<span class="text-center text-muted">Seems like your list is all done!</span>
				<button id="lock_button" type="button" class="btn btn-success" style="margin-left: 1rem;">Lock it in!</button>
			</div>
		</div>
		
		<p id="error_msg" class="text-center text-muted" style="margin-top: 1rem; display: none;">Error message</p>
		
		<!-- Template element -->
		<template id="tier_list_template">
			<p class="btn btn-primary m-0">placeholder</p>
		</template>
	</div>
	
	<!-- Scoring UI -->
	<div id="scoring_window" class="holder-div" style="display: none;">
		<!-- Main text -->
		<h3 id="score_head_sub">Time's up!</h3>
		<h2 id="score_head_main" style="font-weight: 700;">It's time to reveal the results...</h2>
		
		<!-- Tier list -->
		<div id="tl_score" class="centered rounded-4" style="width: 36rem; overflow: hidden; margin-top: 2rem;">
			<!-- S tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #ff7f7f;">
					S
				</div>
				<div id="S_tier_score" class="card-body p-2 d-flex flex-wrap align-items-start gap-2 tier-body-borders ovf-a"></div>
			</div>
			
			<!-- A tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #ffbf7f;">
					A
				</div>
				<div id="A_tier_score" class="card-body p-2 d-flex flex-wrap align-items-start gap-2 tier-body-borders ovf-a"></div>
			</div>
			
			<!-- B tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #ffee7f;">
					B
				</div>
				<div id="B_tier_score" class="card-body p-2 d-flex flex-wrap align-items-start gap-2 tier-body-borders ovf-a"></div>
			</div>
			
			<!-- C tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #dcff7f;">
					C
				</div>
				<div id="C_tier_score" class="card-body p-2 d-flex flex-wrap align-items-start gap-2 tier-body-borders ovf-a"></div>
			</div>
			
			<!-- D tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon tier-icon-borders d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #7fff7f;">
					D
				</div>
				<div id="D_tier_score" class="card-body p-2 d-flex flex-wrap align-items-start gap-2 tier-body-borders ovf-a"></div>
			</div>
			
			<!-- F tier -->
			<div class="tier-holder card text-bg-dark flex-row rounded-0">
				<div class="tier-icon d-flex align-items-center justify-content-center flex-shrink-0" style="background-color: #7fffdf;">
					F
				</div>
				<div id="F_tier_score" class="card-body p-2 d-flex flex-wrap align-items-start gap-2 ovf-a"></div>
			</div>
		</div>
		
		<!-- Leaderboard -->
		<div id="leaderboard" class="card centered" style="width: 27rem; margin-top: 2rem; display: none;">
			<div class="card-header">
				Leaderboard
			</div>
			
			<!-- Actual list -->
			<ul id="lb_list" class="list-group list-group-flush"></ul>
		</div>
		
		<!-- List item template -->
		<template id="lb_template">
			<li class="list-group-item d-flex flex-row align-items-center p-0" style="overflow: hidden;">
				<div id="rank_label" class="d-flex align-items-center justify-content-center" style="width: 3rem; background-color: #bbbbbb; font-weight: 700;">
					1
				</div>
				<p id="name_label" class="m-0 flex-grow-1 d-flex ms-3">Person</p>
				<div id="score_label" class="d-flex align-items-center justify-content-end ms-auto pe-2" style="width: 6rem; background-color: #bbbbbb; font-weight: 600;">
					1000
				</div>
			</li>
		</template>
		
		<!-- Message card -->
		<div class="card centered" style="width: 27rem; margin-top: 2rem;">
			<div class="card-body p-2 d-flex flex-wrap align-items-center justify-content-center gap-2 ovf-a">
				<span id="user_msg_score" class="text-center text-muted">Your score: XXXX</span>
			</div>
			<div id="round_over" class="card-footer text-body-secondary justify-content-between align-items-center d-none">
				<span class="text-center text-muted">This round is over.</span>
				<button id="restart_button" type="button" class="btn btn-success" style="margin-left: 1rem;">Start the next one!</button>
			</div>
		</div>
				
		<!-- Template element -->
		<template id="score_elem_template">
			<p class="btn btn-primary m-0">placeholder</p>
		</template>
	</div>
	
{% endblock %}
