{% extends "layout.html" %}

{% block title %}
    Host
{% endblock %}

{% block main %}

	<!-- Script for some interactions -->
	<script>
	
		document.addEventListener('DOMContentLoaded', function() {
			const master_check = document.getElementById('masters_enabled')
			const master_time = document.getElementById('master_time')
			
			master_check.addEventListener('change', function() {
				master_time.disabled = !this.checked
			})
			
			const rounds_label = document.getElementById('rounds_label')
			const rounds_input = document.getElementById('rounds')
			
			rounds_input.addEventListener('input', function() {
				rounds_label.textContent = 'Game cycles (one round per player): ' + this.value.toString()
			})
			
			const tiering_time_label = document.getElementById('tiering_time_label')
			const tiering_time_input = document.getElementById('tiering_time')
			
			tiering_time_input.addEventListener('input', function() {
				tiering_time_label.textContent = 'Maximum tiering time: ' + this.value.toString() + 's'
			})
			
			const max_elements_label = document.getElementById('max_elements_label')
			const max_elements_input = document.getElementById('max_elements')
			
			max_elements_input.addEventListener('input', function() {
				max_elements_label.textContent = 'Objects per category: ' + this.value.toString()
			})
			
			const master_time_label = document.getElementById('master_time_label')
			const master_time_input = document.getElementById('master_time')
			
			master_time_input.addEventListener('input', function() {
				master_time_label.textContent = 'Maximum selection time: ' + this.value.toString() + 's'
			})
		})
	
	</script>
	
	<!-- Name card -->
	<form action="/host" method="post" autocomplete="off">
		<div class="card centered" style="width: 27rem;">
			<div class="card-body">
				<!-- Main form -->
				<div class="mb-3">
					<label for="name" class="form-label" style="font-weight: 600;">Choose a name!</label>
					<input type="text" class="form-control" name="name" id="name" maxlength="25" placeholder="Enter your name:">
				</div>
				<div class="card">
					<div class="card-body">
						<p style="font-weight: 600;">Room Settings</p>
					
						<!-- Rounds -->
						<label id="rounds_label" for="rounds" class="form-label">Game cycles (one round per player): 2</label>
						<input type="range" class="form-range" min="1" max="10" value="2" id="rounds" name="rounds">
						
						<!-- Tiering Time -->
						<label id="tiering_time_label" for="tiering_time" class="form-label">Maximum tiering time: 40s</label>
						<input type="range" class="form-range" min="20" max="120" value="40" id="tiering_time" name="tiering_time">
						
						<!-- Max Elements -->
						<label id="max_elements_label" for="max_elements" class="form-label">Objects per category: 10</label>
						<input type="range" class="form-range" min="8" max="20" value="10" id="max_elements" name="max_elements">
						
						<!-- Masters -->
						<div class="form-check form-switch" style="margin-top: 1rem;">
							<input class="form-check-input" type="checkbox" role="switch" id="masters_enabled" name="masters_enabled" checked>
							<label class="form-check-label" for="masters_enabled" style="float: left;">Enable masters</label>
						</div>
						<label id="master_time_label" for="master_time" class="form-label" style="margin-top: 0.5rem;">Maximum selection time: 40s</label>
						<input type="range" class="form-range" min="20" max="120" value="40" id="master_time" name="master_time">
						
						<!-- Safe Mode -->
						<div class="form-check form-switch" style="margin-top: 1rem;">
							<input class="form-check-input" type="checkbox" role="switch" id="safe_mode" name="safe_mode">
							<label class="form-check-label" for="safe_mode" style="float: left;">Enable safe mode (no profanity)</label>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-success">Create room!</button>
			</div>
		</div>
	</form>
	
	<!-- Redirect message -->
	{% if message %}
        <div class="centered redirect-text">{{ message }}</div>
	{% else %}
        {{ super() }}
    {% endif %}
	
{% endblock %}