{% extends "layout.html" %}

{% block title %}
    Room
{% endblock %}

{% block main %}

	<!-- Websocket Handler -->
	<script>
	
		// Set up sockets
		var socket = io()
		
		// Send join message when player joins
		socket.on('connect', function() {
			socket.emit('join')
		})
		
		// Update player list
		socket.on('update_players', function(data) {
			// Kill room if host leaves
			if (data['kill']) {
				window.location.href = '/host_left'
			}
		
			// Get list objects
			var list = document.getElementById('plr-list')
			const template = document.getElementById('plr-template')
			
			// Set up variables
			const players = data['players']
			const real_name = '{{ name }}'
			const host = {{ host | tojson }}
			
			// Reset list
			list.innerHTML = ''
			
			// Loop through all players and keep track of the amount
			let plr_count = 0
			for (const name of Object.keys(players)) {
				var clone = template.content.cloneNode(true)
				var btn = clone.querySelector('button')
				
				// Modify clone to fit current player
				btn.textContent = name
				if (name == real_name) {
					btn.style.fontWeight = '600'
				}
				else if (host) {
					btn.classList.add('plr-button')
					btn.addEventListener('click', function() {
						socket.emit('kick', btn.textContent)
					})
				}
				
				list.appendChild(clone)
				plr_count++
			}
			
			// Update player counter
			var counter = document.getElementById('plr-count')
			let message = plr_count.toString()
			if (plr_count > 1) {
				message += ' players waiting!'
			}
			else {
				message += ' player waiting!'
			}
			counter.textContent = message
			
			// Update start button
			var start = document.getElementById('start-btn')
			if (start) {
				if (plr_count > 1) {
					start.disabled = false
				}
				else {
					start.disabled = true
				}
			}
		})
		
		// Kicks the given player
		socket.on('kick', function(data) {
			// Checks if the player's name matches the client
			const real_name = '{{ name }}'
			const fake_name = data['name']
			if (real_name == fake_name) {
				window.location.href = '/kick'
			}
		})
		
		// Send player to the game page
		socket.on('start_game', function() {
			window.location.href = '/game'
		})
		
		// Make sure DOM elements load in
		document.addEventListener('DOMContentLoaded', function() {
			// Check if the user is the host (has a start button)
			const start = document.getElementById('start-btn')
			if (start) {
				// Add event listener for 'start' click (to begin the game)
				start.addEventListener('click', function() {
					socket.emit('start_game')
				})
			}
		})
		
	</script>

	<!-- Room code and title -->
	<p style="font-weight: 600;">Room code: {{ code }}</p>
	{% if host %}
		<h2>Waiting to start the game...</h2>
	{% else %}
		<h2>Waiting for the host to begin...</h2>
	{% endif %}
	
	<h3 id="plr-count">{{ players | count }} player{% if players | count > 1 %}s{% endif %} waiting!</h3>
	
	<!-- Host controls -->
	
	{% if host %}
		<button id="start-btn" type="button" class="btn btn-success" style="width: 18rem; margin-top: 2rem;" disabled>Let the fun begin!</button>
	{% else %}
		{{ super() }}
	{% endif %}
	
	<!-- Redirect message -->
	{% if message %}
        <div class="centered redirect-text">{{ message }}</div>
	{% else %}
        {{ super() }}
    {% endif %}
	
	<!-- Player list card -->
	<div class="card centered" style="width: 36rem; margin-top: 3rem;">
		<div id="plr-list" class="card-body p-2 gap-2">
			{% for player in players %}
				<button class="btn btn-primary {% if host and player != name %} plr-button {% endif %}" style="margin-bottom: 0.5rem; {% if player == name %} font-weight: 600; {% endif %}">{{ player }}</button>
			{% endfor %}
		</div>
	</div>
	
	<template id="plr-template">
		<button class="btn btn-primary">placeholder</button>
	</template>
	
{% endblock %}